@import "./variables/global";
@import "reset";
@import "./themes/light";
@import "./themes/dark";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  height: 100vh;
  transition: background 0.5s, color 0.5s;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.app_drawer {
  height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--inverted-primary-color);
  border-radius: 20px;
}
