.popup {
  position: relative;
}

.menu {
  border-radius: 18px;
  border: 2px solid var(--accent-redesigned);
  overflow: hidden;
}

.active {
  background: var(--light-bg-redesigned);
}

.selected {
  background: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.7;
}

.bottom_left {
  top: 100%;
  right: 0;
}

.bottom_right {
  top: 100%;
  left: 0;
}

.top_left {
  bottom: 100%;
  left: 0;
}

.top_right {
  bottom: 100%;
  right: 0;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
}
