.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  color: var(--text-redesigned);
  padding: 8px 16px;
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.clear,
.clear-inverted {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}


.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.addonLeft, .addonRight {
  display: flex;
}



.square {
  padding: 0;
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

