.StarRating {
  .hovered {
    fill: var(--primary-color);
  }
}

.StarRatingRedesigned {
  .hovered {
    fill: var(--icon-redesigned);
  }
}

.star {
  fill: none;
  cursor: pointer;
}

.selected {
  cursor: default;
  pointer-events: none;
}
