.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
